extends ../layout

block content
  div.subtle-background
  div.cover
  div.container
    div.top-bar
      h1.page-title Welcome to the Job Board
    div.job-postings
      if loggedIn
        a.post-thing-button(id="add-job" href='/jobs/newjob') Post a job   
        //- div.homepage-link
        //-   a(id="add-job" href='/jobs/newjob') Post a job
        if jobs 
          each job in jobs
            .new-job
              .left
                p
                  a(href=job.source)
                    h2= job.jobTitle  
                p= job.companyName  
              .right
                p= job.location  
                p Date Posted: 
                  =job.activation
              .bottom
                  br
                  p(class='description')  
                    i.fa-angle-double-down(class='fa fa-1x')
                    |&nbsp;Description 
                    i.fa-angle-double-down(class='fa fa-1x')
                  div.job
                    p= job.description
      else
        div
          p= userID
          p.post-thing-button(class="not-logged-in" id='jobs/newjob') Post a job
          include ../partials/authModal.jade
          if jobs 
            each job in jobs
              .new-job
                .left
                  p
                    a(href=job.source)
                      h2= job.jobTitle  
                  p= job.companyName  
                .right
                  p= job.location  
                  p Date Posted: 
                    =job.activation
                .bottom
                    br
                    p(class='description' onclick='toggleDescription()')
                      i.fa-angle-double-down(class='fa fa-1x')
                      |&nbsp;Description 
                      i.fa-angle-double-down(class='fa fa-1x')
                  div.job
                    p= job.description
  script(src='../javascripts/login.js')
  script(src='../javascripts/dom.js')
