extends ../layout

block content
  header
    if !userId
      p(class="not-logged-in" id='jobs/alljobs') Sign In
      include ../partials/authModal.jade
    else
      p Hi,
        =userFirstName
  h1= title
  div.add-job
    if loggedIn
      a(id="add-job" href='/jobs/newjob') Post a job to the board
      if jobs 
        each job in jobs
          .newJob
            .left
              a(href=job.source)
                h1= job.jobTitle
              p= job.companyName
            .right
              p= job.location
              p Date Posted
                = job.activation
            .bottom
              p= job.description
              p= job.source
    else
      div
        p= userID
        p(class="not-logged-in" id='jobs/newjob') Post a job to the board
        include ../partials/authModal.jade
        if jobs 
          each job in jobs
            .newJob
              .left
                a(href=job.source)
                  h1= job.jobTitle
                p= job.companyName
              .right
                p= job.location
                p Date Posted
                  = job.activation
              .bottom
                p= job.description
                p= job.source
  script(src='../javascripts/login.js')
