extends ../layout

block content
  header
  h1.page-title= title
  div.add-job
    if loggedIn
      div.homepage-link
        a(id="add-job" href='/jobs/newjob') Post a job
      if jobs 
        each job in jobs
          .new-job
            div
              p Date Posted: 
                = job.datePosted
            div
              a(href=job.source)
                h1= job.jobTitle
            div
              p= job.companyName
            div.location
              p= job.location
            .bottom
              div
                p= job.source
              div
                p Description: 
                  = job.description
    else
      div
        p= userID
        p.center-link(class="not-logged-in" id='jobs/newjob') Post a job
        include ../partials/authModal.jade
        if jobs 
          each job in jobs
            .new-job
              .left
                a(href=job.source)
                  h1= job.jobTitle
                p= job.companyName
              .right
                p= job.location
                p Date Posted
                  = job.activation
              .bottom
                p= job.description
                p= job.source
  script(src='../javascripts/login.js')
